/* PC */
@media (min-width:64em) {

}

/* TABLE */
@media (min-width:46.25em) and (max-width:63.9375em) {

}

/* TABLE and MOBILE */
@media (max-width:63.9375em) {
  

    .contact-place {
        line-height: 1.6;
    }

    .contact-input {
        padding: 14px 6px;
    }

    .contact-send {
        padding:15px 17px;
    }   
    
    .tour-dates .buy-ticket {
        padding:15px 16px;
    }   
    
    .footer-icon a {
        font-size: 30px;
        padding: 6px;
    }

    .footer-text a {
        padding: 12px 0;
    }    
}

/* MOBILE */
@media (max-width:46.1875em) {

    #header {
        overflow: hidden;
    }

    .s-mtop-16 {
        margin-top:16px;
    }

    .s-mtop-8 {
        margin-top:8px;
    }

    .s-width-full {
        width: 100%;
    }

    .s-cl-full {
        width: 100%;
    }

    #nav {
        display:block;
    }

    #nav li:first-child {
        display: inline-block;
    }

    #nav li {
        display: block;
    }

    #nav li a {
        padding:1px 24px;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color:#fff;
        padding: 5px 39px;
    }

    .header-search {
        display: none;
    }

    .header-menu {
        display:block;
    }

    #content .member-img {
        width: 60%;
    }

    .content-list {
        padding:74px 16px 96px;
    }    

    .contact-send {
        width: 100%;
    } 
    
    .tour-dates .buy-ticket {
        width: 100%;
    }    
}